.dashboard-container {
    display: flex;
    min-height: 100vh;
    height: fit-content;
    font-family: Arial, sans-serif;
    position: relative;
}

.dashboard-container .sidebar {
    width: 250px;
    background: #2c3e50;
    color: white;
    padding: 20px 0;
    position: sticky;
    height: 100vh;
    top: 0;
}

.dashboard-container .sidebar h2 {
    margin-bottom: 20px;
    text-align: center;
    font-weight: 600;
    font-size: 24px;
}

.dashboard-container .sidebar ul {
    list-style: none;
    padding: 0;
}

.dashboard-container .sidebar li {
    padding: 10px 25px;
    cursor: pointer;
}

.dashboard-container .sidebar li:hover {
    background-color: #3d5770;
}

.dashboard-container .main-content {
    flex: 1;
    background: #ecf0f1;
}

.dashboard-container .top-nav {
    background: white;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dashboard-container .active {
    font-weight: bold;
    background-color: #2c3f50; /* Change to your preferred active color */
}