#voucher_mng {
    padding: 20px;
}

#voucher_mng .action-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-bottom: 15px;
}

#voucher_mng .action-bar button {
    height: 100%;
    min-width: fit-content;
    padding: 10px;   
    border-radius: 5px;
    color: white;
}

#voucher_mng .action-bar .search {
    background-color: #002ee6;
}

#voucher_mng .action-bar .search:hover {
    background-color: #0027c5;
}

#voucher_mng .action-bar .add {
    background-color: #00d220;
}

#voucher_mng .action-bar .add:hover {
    background-color: #00b91c;
}

#voucher_mng .table-container {
    width: 100%;
    margin: auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#voucher_mng .search-bar {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#voucher_mng .product-table {
    width: 100%;
    border-collapse: collapse;
}

#voucher_mng .product-table th,
#voucher_mng .product-table td {
    padding: 12px;
    border-bottom: 1px solid #ddd;
    text-align: left;
}

#voucher_mng .product-table th:first-child,
#voucher_mng .product-table td:first-child {
    text-align: center;
}

#voucher_mng .product-table th {
    background-color: #f8f8f8;
    font-weight: bold;
}

#voucher_mng .product-table thead th:last-child {
    display: flex;
    justify-content: center;
}

#voucher_mng .product-table tbody td .voucher-action {
    display: flex;
    align-items: center;
    justify-self: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#voucher_mng .product-table tbody td .voucher-action button {
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
}

#voucher_mng .product-table tbody td .voucher-action button:first-child {
    background-color: #3f51b5;
}

#voucher_mng .product-table tbody td .voucher-action button:last-child {
    background-color: #f44336;
}

#voucher_mng .product-table tbody td .voucher-action button:first-child:hover {
    background-color: #5366d1;
}

#voucher_mng .product-table tbody td .voucher-action button:last-child:hover {
    background-color: #fe6857;
}

#voucher_mng.product-table td.voucher-action:hover {
    background-color: #ddd;
}

#voucher_mng .rating {
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 4px;
}

#voucher_mng .rating.perfect {
    color: #28a745;
}

#voucher_mng .rating.very-good {
    color: #17a2b8;
}

#voucher_mng .rating.good {
    color: #ffc107;
}

#voucher_mng .rating.bad {
    color: #dc3545;
}

#voucher_mng .switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 20px;
}

#voucher_mng .switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

#voucher_mng .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 34px;
}

#voucher_mng .slider:before {
    position: absolute;
    content: "";
    height: 14px;
    width: 14px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

#voucher_mng input:checked + .slider {
    background-color: #28a745;
}

#voucher_mng input:checked + .slider:before {
    transform: translateX(14px);
}
