#topup {
    /* font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0; */
    width: 100%;
}

#topup .content {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 30px;
}

#topup .amount-input-container {
    margin-bottom: 20px;
}

#topup .amount-input-container label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

#topup .amount-input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

#topup .payment-methods {
    margin-bottom: 20px;
}

#topup .payment-methods h3 {
    color: #666;
    margin-bottom: 15px;
}

#topup .method-grid {
    display: flex;
    gap: 10px;
}

#topup .payment-method {
    flex: 1;
    border: 2px solid #666;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    transition: all 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #666;
}

#topup .payment-method.MOMO:hover{
    border-color: #db2777;
    color: #db2777;
    background-color: #f5f5f5;
}

#topup .payment-method.VNPay:hover{
    border-color: #00569d;
    color: #00569d;
    background-color: #f5f5f5;
}

#topup .payment-method.COD:hover{
    border-color: #438a55;
    color: #438a55;
    background-color: #f5f5f5;
}

#topup .payment-method.MOMO.selected {
    border-color: #db2777;
    color: #db2777;
    background-color: #f5f5f5;
}

#topup .payment-method.VNPay.selected {
    border-color: #00569d;
    color: #00569d;
    background-color: #f5f5f5;
}

#topup .payment-method.COD.selected {
    border-color: #438a55;
    color: #438a55;
    background-color: #f5f5f5;
}

#topup .method-icon {
    font-size: 30px;
}

#topup .method-name {
    font-size: 24px;
    /* color: #666; */
}

#topup .topup-button {
    width: 100%;
    padding: 12px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#topup .topup-button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

#topup .topup-button:not(:disabled):hover {
    background-color: #45a049;
}

#topup .error-message {
    color: #d32f2f;
    font-size: 14px;
    margin-top: 10px;
    text-align: left;
    width: 100%;
}