.home-header {
    background-color: white;
    padding: 12px 25px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.home-header p {
    font-size: 28px;
    font-weight: 600;
}

.home-header nav ul {
    list-style-type: none;
    padding: 0;
}

.home-header nav ul li {
    display: inline;
    margin: 0 10px;
}

.home-header nav ul li {
    font-size: 20px;
    text-decoration: none;
    color: #333;
    transition: color 0.5s;
    cursor: pointer;
}

.home-header nav ul li:hover {
    color: #ff4444;
}

.home-header .ult{
    width: fit-content;
}

.home-header .ult .ult-item {
    display: flex;
    justify-content: space-around;
    gap: 15px;
}

.home-header .ult .ult-item > div:hover {
    color: #ff4444;
    cursor: pointer;
    transition: all 0.2s;
}

.home-header .user {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.home-header .user > button {
    border: 1px solid #000;
    padding: 5px 10px;
}

.home-header .user > button:hover {
    background-color: #ff4444;
    color: #fff;
    border: 1px solid #ff4444;
    padding: 5px 10px;
    cursor: pointer;
    transition: all 0.2s;
}