#modal {
    position: absolute;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

#modal > .modal-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 50vh;
    min-width: 50%;
    height: fit-content;
    width: fit-content;
    border-radius: 25px;
    padding: 25px;
    overflow-y: auto;
    z-index: 1;
}

#modal > .modal-container > .close {
    position: absolute;
    right: 15px;
    top: 15px;
    z-index: 2;
    display: flex;
    cursor: pointer;
}